html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* background-color: black; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

@font-face {
  font-family: logo-font;
  src: url(./fonts/Norse-Bold.otf);
}

.main-container {
  display: flex;
  height: 100%;
}

.left-section {
  height: 100%;
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.image-holder {
  display: flex;
  flex: 1 1 80%;
  justify-content: center;
  flex-direction: column;
  /* border: 3px dotted red; */
}

.odin-logo {
  display: flex;
  flex: 1;
  align-items: center;
  /* opacity: 0.4; */
  /* border: 3px dotted blue; */
}

.logo {
  padding: 10px;
  padding-right: 1px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /* border: 3px solid green; */
  background-color: black;
  opacity: 0.5;
}

.text {
  padding: 10px;
  padding-left: 1px;
  flex: 1;  
  font-size: 99px;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-family: logo-font;
}

.credit-holder {
  display: flex;
  flex: 1 1 20%;
  justify-content: center;
}

.credit {
  color: white;
  align-self: flex-end;
}

.credit a {
  color: white;
}

.credit p {
  border-bottom: 5px;
}

.right-section {
  display: flex;
  height: 100%;
  flex: 1 1 60%;
  flex-direction: column;
}

.paragraph-item {
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
  flex: 1 1 35%;
  justify-content: flex-end;
  padding: 20px;
  background-color: lightgrey;
  ;
}

.paragraph-item > p {
  /* border: 2px dotted green; */
  font-size: larger;
  font-weight: bolder;

}

.form-item {
  /* border: 3px solid yellow; */
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  padding: 20px;
}

.form-paragraph > p {
  flex: 1;
  /* border: 3px solid red; */
}

.form-sub-item {
  display: flex;
  
}

.form-sub-item-1 {
  flex: 1;
  
}



.account-item {
  /* border: 3px solid yellow; */
  flex: 1 1 35%;
  padding: 20px;
  background-color: lightgray;
}

.account-item-1 > button {
  background-color: #596D48;
  color: white;
  padding: 10px;
  border-radius: 5px;
}